<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7B0EA04779700511005B31C58665446A3BCEDADA</string>
				<key>dateExpires</key>
				<string>29/06/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B0EA04779700511005B31C58665446A3BCEDADA</string>
						<key>dateExpires</key>
						<string>29/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XC42J86P</string>
						<key>name</key>
						<string>YOUFLIK SOCIAL NETCONNECT PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B0EA04779700511005B31C58665446A3BCEDADA</string>
						<key>dateExpires</key>
						<string>29/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XC42J86P</string>
						<key>name</key>
						<string>YOUFLIK SOCIAL NETCONNECT PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>26XC42J86P.com.goideotic.footsapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>26XC42J86P</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>26XC42J86P.com.goideotic.footsapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6e18bd1d-2bb3-41c7-8de6-cbcf06764e25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.goideotic.footsapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>26XC42J86P</string>
				<key>name</key>
				<string>YOUFLIK SOCIAL NETCONNECT PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
